@charset "utf-8";
/*CSS Document */

body {
    background-color: #f5bcfc;
}

.content {
    padding: 60px;
}


.type-wrapper h1 {
    color: #853da1;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.type-wrapper h2 {
    color: hotpink;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
}

a {
    color: #3994a4; 
}

a:hover {
    color:#61e1f8;
}

.type1 {
    font-family: "Playwrite FR Trad", cursive;
    font-optical-sizing: auto;  
}

.type2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.type3 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.type4 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.type5 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.type6 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.type7 {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.type8 {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}